aside{
    display: inline-block;
    width: 350px;
    margin: 10px;
    background-color: white;
    border-radius: 4px;
    height: fit-content;
}

aside article{
    display: flex;
    margin: 10px auto;
    width: 95%;
    border: 2px white solid;
} aside article h5{margin: auto 10px;}
aside > *{
    color: #0f5202;
}

aside article img{
    width: 95px;
    height: 95px;
    padding: 4px;
    border-radius: 10px;
}
aside h1{
  text-align: center;
  width: 100%;
  padding: 5px;
  color: white;
  background-color: #1290cb;
  top: 0;
}

/* Animacion de guilhe*/
aside {
  animation-name: anim;
  animation-duration: 900ms;
  animation-timing-function:ease-out;
}

@keyframes anim {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  50% {
    transform: scale(1.01);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
/*FIN ANIMACION*/