*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #FFCD29;
    height: 100px;
    min-height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.head-logo{
    position: relative;
    height: 80%;
    margin-right: 10px;
    border-radius: 15px;
    top: 10%;
    left: 10px;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logs{
    padding: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.logs a{
    text-decoration: none;
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    font-size: large;
    padding: 1vh;
    margin: auto;
}
.logs a:hover{
    background-color: #D4E073;
    border: 1px black solid;
    border-radius: 15px;
}

.navi{
    text-decoration: none;
    color: black;
    margin: auto;
    padding: 1vw;
    font-family:Arial, Helvetica, sans-serif;
    font-size: medium;
}
nav  a:hover{
    color: white;
}

