*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins,Roboto,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: #ECF0F1;
    /* background-color: #0f5202; */
}

header{
    background-color: #FFCD29;
    height: 100px;
    min-height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cont-logo{
    position: relative;
    width: 180px;
}
.head-logo{
    position: relative;
    height: 80%;
    margin: 10px auto;
    left: 10px;
    border-radius: 15px;
}

nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.logs{
    padding: 1vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.logs a{
    text-decoration: none;
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    font-size: large;
    padding: 1vh;
    margin: auto;
}
.logs a:hover{
    background-color: #D4E073;
    border: 1px black solid;
    border-radius: 15px;
}

.navi{
    text-decoration: none;
    color: black;
    margin: auto;
    padding: 1vw;
    font-family:Arial, Helvetica, sans-serif;
    font-size: medium;
}

nav  a:hover{
    color: white;
}


@media (max-width: 500px) {
    .logs{
        flex-direction: row;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    } .logs a{font-size: small;}
    nav {
        width: 100%;
        justify-content: space-between;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        align-items: center;
    } 
    nav a{
        border: 1px black solid;
        border-radius: 3px;
        margin: 1px auto;
        flex-direction: row;
        font-size: small;
    }

    header{
        display: grid;
        row-gap: 3px;
        justify-content: space-around;
        grid-template-columns: auto auto;
        grid-template-rows: 2fr 1fr;
    }
    .cont-logo{
        grid-row: 1 / 3;
        width: 160px;
    }

}

@font-face {
    font-family: Robotto;
    src: url(/Fuentes/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: Poppins;
    src: url(/Fuentes/Poppins/Poppins-Regular.ttf);
}


/* prueba con login */
.usua{
    display: none;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border: 3px black solid;
} .usua img{ height: 70%;border-radius: 50%;}