*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #FFCD29;
    height: 100px;
    min-height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.head-logo{
    position: relative;
    height: 80px;
    margin-right: 10px;
    border-radius: 15px;
    top: 10%;
    left: 10px;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logs{
    padding: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.logs a{
    text-decoration: none;
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    font-size: large;
    padding: 1vh;
    margin: auto;
}
.logs a:hover{
    background-color: #D4E073;
    border: 1px black solid;
    border-radius: 15px;
}

.navi{
    text-decoration: none;
    color: black;
    margin: auto;
    padding: 1vw;
    font-family:Arial, Helvetica, sans-serif;
    font-size: medium;
}

nav  a:hover{
    color: white;
}


@media (max-width: 500px) {
    .logs{
        flex-direction: row;
        grid-row: 2 / 3;
    } .logs a{font-size: small;}
    nav {
        width: 100%;
        justify-content: center;
        align-items: center;
    } 
    nav a{
        border: 1px black solid;
        border-radius: 3px;
        margin: 1px auto;
        flex-direction: row;
        font-size: small;
    }

    header{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 3fr 2fr; 
    }
    .head-logo{
        grid-column: 1 / 2;
        grid-row: 1 / 3;
    }
}
